<div class="row" *ngIf="atividadeAtual$ | async as atividade">
  <div class="col-12 col-md-6 col-lg-4">
    <h2>Entregas</h2>
    <div class="list-group shadow mt-4">
      <button
        class="list-group-item list-group-item-action d-flex align-items-center justify-content-between"
        *ngFor="let equipe of atividade.equipes; let i = index"
        [ngClass]="equipe.entregue ? 'bg-success text-white' : 'bg-light text-dark'"
        (click)="alternarStatusEntrega(atividade, equipe)"
      >
        <strong>Equipe {{ i + 1 }}</strong>
        <i class="fa fa-2x fa-fw" [ngClass]="equipe.entregue ? 'fa-check-square-o' : 'fa-square-o'"></i>
      </button>
    </div>
  </div>
</div>
