.list-group-striped li:nth-child(even) {
  background: #f6f6f6;
}

.blinking {
  animation: blink 2s ease infinite;
}

.card .fa-check {
  animation: spin 0.5s ease-out forwards, fade-in 1s;
}

.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

@keyframes blink {
  33% {
    opacity: 0;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
}
