<ng-container *ngIf="atividade$ | async as atividade; else aguardando">
  <header class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-4 font-weight-bold">
      {{ atividade.nome }}
      <ngb-progressbar
        type="warning"
        [value]="getProgressoAtividade(atividade)"
        [max]="1"
        height=".5rem"
      ></ngb-progressbar>
    </h1>
    <strong>
      {{ atividade.dataHoraInicio | date: 'EEEE' | titlecase }},
      {{ atividade.dataHoraInicio | date: "H'h'mm" }}
      às {{ atividade.dataHoraFim | date: "H'h'mm" }}
    </strong>
    <p class="mt-4 mt-md-5">
      Entregar a atividade
      <a target="_blank" href="{{ atividade.linkEntrega }}">nesse link</a>
      até as {{ atividade.dataHoraFim | date: "H'h'mm" }}.
    </p>
  </header>
  <main class="row">
    <div class="col-12 col-md-6 col-lg-4 mt-4 mt-md-5" *ngFor="let equipe of atividade.equipes; let i = index">
      <div class="card shadow">
        <div
          class="card-header text-white d-flex justify-content-between align-items-center"
          [ngClass]="equipe.entregue ? 'bg-success' : 'bg-danger'"
        >
          <strong>Equipe {{ i + 1 }}</strong>
          <small *ngIf="equipe.entregue; else iconePendente"><i class="fa fa-2x fa-check"></i></small>
          <ng-template #iconePendente>
            <small>
              <i class="fa fa-2x" [ngClass]="getIconeAtividadePendente(atividade)"></i>
            </small>
          </ng-template>
        </div>
        <ul class="list-group list-group-flush list-group-striped">
          <li class="list-group-item" *ngFor="let integrante of equipe.integrantes">{{ integrante }}</li>
        </ul>
      </div>
    </div>
  </main>
</ng-container>

<ng-template #aguardando>
  <header class="d-flex flex-column align-items-center justify-content-center">
    <h1 class="display-4 font-weight-bold">Hackaton ADA</h1>
    <p class="lead mt-4">31/out &mdash; 01/nov de 2020</p>
  </header>
</ng-template>
